@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource-variable/plus-jakarta-sans';
@import '@fontsource/alata';

input::-ms-reveal,
input::-ms-clear,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

body {
    width: 100%;
    min-height: 100dvh;
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

.section-title {
    font-family: 'Alata', sans-serif !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}