@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@fontsource/alata";
@import "@fontsource/plus-jakarta-sans";

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans";
}

.section-title {
    font-family: "Alata" !important;
}

.text-small {
    font-size: .85em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}